/* form {
  width: 350px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  padding: 20px 25px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
  gap: 15px;
  background: #cdc9c9;
}

label {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

input {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
  transition: 0.3s ease;
  background: #9b9b9b;
}

input:focus {
  border-color: #4b7bec;
  outline: none;
  box-shadow: 0px 0px 6px rgba(75, 123, 236, 0.6);
}

.form-submit-btn {
  padding: 12px 10px;
  border: none;
  border-radius: 8px;
  background: #4b7bec;
  color: white;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  margin-top: 10px;
  transition: 0.3s;
}

.form-submit-btn:hover {
  background: #3867d6;
} */
